# **Import Library**

In [0]:
import pandas as pd

# **Import File**

In [0]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [0]:
with pd.ExcelFile('/content/drive/My Drive/work/nectec/cumulative_upper_lower/Upper.xlsx') as reader:
  df_upper = pd.read_excel(reader, sheet_name=reader.sheet_names[0])
with pd.ExcelFile('/content/drive/My Drive/work/nectec/cumulative_upper_lower/lower.xlsx') as reader:
  df_lower = pd.read_excel(reader, sheet_name=reader.sheet_names[0])
df_text = pd.read_csv('/content/drive/My Drive/work/nectec/cumulative_upper_lower/out.txt',encoding='utf8',header=None,names=['name_lhs','name_rhs','total_lhs','total_rhs','total_receipt_one','total_together'])
df_text = df_text.sort_values('total_together',ascending=False)
df_text

        name_lhs  name_rhs  ...  total_receipt_one  total_together
0       1111001A  1111002A  ...              39683           10807
1       1111001A  1111003A  ...              30348            8291
2       1111001A  1111004A  ...              28794            8014
3       1111002A  1111003A  ...              23539            6893
4       1111002A  1111004A  ...              21740            6470
...          ...       ...  ...                ...             ...
107112  3229014A  3617026A  ...                  3               1
107111  3213001A  3247006A  ...                  3               1
107110  1142010A  1143010A  ...                  3               1
107109  3240018A  3243010A  ...                  3               1
79803   1612012A  3215005A  ...                  4               1

[159606 rows x 6 columns]

In [0]:
df_text['accumulative_income'] = df_text['total_together'].cumsum()
df_text['total_all'] = df_text['total_together'].sum()

df_text['accumulative_income_percentage'] = df_text['accumulative_income']/df_text['total_all'] * 100
df_text

        name_lhs  name_rhs  ...  total_all  accumulative_income_percentage
0       1111001A  1111002A  ...     985472                        1.096632
1       1111001A  1111003A  ...     985472                        1.937955
2       1111001A  1111004A  ...     985472                        2.751169
3       1111002A  1111003A  ...     985472                        3.450631
4       1111002A  1111004A  ...     985472                        4.107169
...          ...       ...  ...        ...                             ...
107112  3229014A  3617026A  ...     985472                       99.999594
107111  3213001A  3247006A  ...     985472                       99.999696
107110  1142010A  1143010A  ...     985472                       99.999797
107109  3240018A  3243010A  ...     985472                       99.999899
79803   1612012A  3215005A  ...     985472                      100.000000

[159606 rows x 9 columns]

In [0]:
# template
import math 
def clean_data(df,comulative_percent,percent_choose,percent_choose_upper,user_choose_percent):
  percent = len(df[df['accumulative_income_percentage'] < comulative_percent])/(len(df)) * 100
  print('percent',percent)
  if percent <= percent_choose:
    df = df[:int(len(df)/100 * percent_choose)]
  else:
    df = df[:int(len(df)/100 * percent_choose_upper)]
    df = df[:math.ceil(len(df) * user_choose_percent / 100)]


  return df
clean_data(df_text,80,20,5,5)
# clean_data(df_text,80,20,30,5)

percent 21.325012844128665

     name_lhs  name_rhs  ...  total_all  accumulative_income_percentage
0    1111001A  1111002A  ...     985472                        1.096632
1    1111001A  1111003A  ...     985472                        1.937955
2    1111001A  1111004A  ...     985472                        2.751169
3    1111002A  1111003A  ...     985472                        3.450631
4    1111002A  1111004A  ...     985472                        4.107169
..        ...       ...  ...        ...                             ...
458  1111004A  1131013A  ...     985472                       27.354100
337  1113034A  1121008A  ...     985472                       27.374395
344  1122201A  1142010A  ...     985472                       27.394690
447  1111001A  3220005A  ...     985472                       27.414782
356  1111001A  3238003A  ...     985472                       27.434874

[399 rows x 9 columns]

In [0]:
df_lower

       no.  total_volume  ...  accumulative_income  accumulative_income_percentage
0    item1         18000  ...              1350000                       35.444234
1    item2         25000  ...              2600000                       68.262970
2    item3          7000  ...              3300000                       86.641462
3    item4          2500  ...              3550000                       93.205209
4    item5           700  ...              3620000                       95.043058
5    item6           500  ...              3670000                       96.355808
6    item7           400  ...              3710000                       97.406007
7    item8           300  ...              3740000                       98.193657
8    item9           200  ...              3760000                       98.718757
9   item10           100  ...              3770000                       98.981306
10  item11            80  ...              3778000                       99.191346
11  item12            72  ...              3785200                       99.380382
12  item13            60  ...              3791200                       99.537912
13  item14            51  ...              3796300                       99.671813
14  item15            42  ...              3800500                       99.782084
15  item16            35  ...              3804000                       99.873976
16  item17            20  ...              3806000                       99.926486
17  item18            15  ...              3807500                       99.965869
18  item19            10  ...              3808500                       99.992124
19  item20             3  ...              3808800                      100.000000

[20 rows x 6 columns]

In [0]:
20/100 *20

4.0

In [0]:
len(df_lower[df_lower['accumulative_income_percentage'] < 80])

2

In [0]:
2/20*100

10.0

# **test**

In [10]:
import pandas as pd
import numpy as np
df = pd.DataFrame({'Buyer':['John','Mary','David'],
                   'Seller':['Mary','John','Bosco'],
                   'Amount':[3,3,2]})
df

   Buyer Seller  Amount
0   John   Mary       3
1   Mary   John       3
2  David  Bosco       2

In [11]:
df[['Buyer','Seller']] = pd.DataFrame(np.sort(df[['Buyer','Seller']], axis=1))

df2 = df.groupby(['Buyer','Seller'], as_index=False)['Amount'].sum()
df2.columns = ['Trade1','Trade2','Amount']
df2

  Trade1 Trade2  Amount
0  Bosco  David       2
1   John   Mary       6